<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="GovQueue"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MADGovQueue">
        <activity android:name=".ReportCrowdActivity" />
        <activity android:name=".OfficeDetailsActivity" />

        <!-- Splash Screen -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <!-- Onboarding Screens -->
        <activity android:name=".OnboardingActivity" />
        <activity android:name=".Onboarding2Activity" />
        <activity android:name=".Onboarding3Activity" />

        <!-- Login -->
        <activity android:name=".LoginActivity" />

        <!-- Main App -->
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterActivity" />
    </application>

</manifest>